body {
  margin: 32px;
  max-width: 540px;
  line-height: 1.2em;
  font-size: 16px;
  padding: 0 8px;
  font-family: Segoe_UI, serif;
}

a {
  color: #9ae060;
  text-decoration:none;
}

a:hover {
  color:#9ae060;
}

h1 {
  line-height: 1em;
}

.koji {
  color: #9ae060;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #28282b;
      color: #e3ece3;
  }
  
  a {
      color: #9ae060;
  }
}

@font-face {
  font-family: Segoe_UI;
  src: url("fonts/Segoe_UI.ttf");
}